body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #709090;
    color: #fff;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header nav {
    display: flex;
    gap: 15px;
}
header nav a {
    color: #fff;
    text-decoration: none;
}
.navigation-bar {
    display: flex;
    justify-content: space-between;
    background-color: #607070;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.navigation-bar a {
    color: #fff;
    text-decoration: none;
}
.logo img {
    height: 65px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.logo img:hover {
    transform: scale(1.019);
}

.menu-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.5s ease;
    cursor: pointer;
    background-color:#afa0a0b2;
}

.menu-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.5s ease;
}

.menu-icon:hover {
    transform: scale(1.019);
}

.profile-icon {
    width: 70px;
    height: 70px;
    transition: transform 0.5s ease;
}

.profile-icon:hover {
    transform: scale(1.019);
}
.pokemon-container {
    text-align: center;
    margin-bottom: 20px;
}
.pokemon-container h2 {
    margin: 0;
    font-size: 32px;
}
.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}
.content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.info {
    background-color: #607070;
    padding: 20px;
    border-radius: 10px;
}
.evolutions {
    background-color: #505050;
    padding: 20px;
    margin-top: 20px;
}
.evolutions h3 {
    text-align: center;
    margin-bottom: 10px;
}
.evolutions .evo-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.evo-item {
    text-align: center;
    background-color: #505050;
}
footer {
    background-color: #414040;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: auto;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #0056b3;
}
